*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

hr{
    opacity: 0.3;
    background-color: #888888;
}

img{
    max-width: 100%;
    display: flex;
}

body{
    font-family: "Quicksand", sans-serif;
}